---
/**
 * A rail component for layout elements
 * 
 */
---
<nav class="cn-tray">
  <h3>Layout</h3>

  <p>This side navigation tray is intended for second level navigation. The guide on how to use the
    component can be found from <a href="/layout/app-layout-components">App layout components</a> page.
  </p>

  <ul>
    <li>
      <a href="/layout" class="text button">
        <cyan-icon noun="font" small></cyan-icon>
        Layout</a>
    </li>
    <li>
      <a href="/layout/app-layout-components" class="text button">
        <cyan-icon noun="card" small></cyan-icon>
        App layout components</a>
    <li>
    <li>
      <a href="/layout/cards" class="text button">
        <cyan-icon noun="card" small></cyan-icon>
        Cards</a>
    </li>
  </ul>

  
    <a href="/layout/grid">Grid</a>
  </li>
  </ul>
</nav>