<div class="container">
  <article class="column">
    <h2>Containers and Columns</h2>
    <p>The content area is managed with a container/column approach similar to material design and tailwind.css</p>
    <h3>The default container</h3>
    <p>Most of the pages and content should use the default container classes: </p>
    <ol>
      <li><cyan-code>{'<div class="container"></div>'}</cyan-code> as a row for each "line" of columns</li>
      <li><cyan-code>{'<article class="column"></div>'}</cyan-code> as a column element</li>
      <li><cyan-code>{'<article class="column large"></div>'}</cyan-code> as a main column element</li>
      <li><cyan-code>{'<article class="column small"></div>'}</cyan-code> as a small column element</li>
    </ol>
    <p>The container auto-sizes to fit 2 columns, a large column wiht a small column, or a column with 2 small columns. Other
      combinations are discouraged, and will need to be managed with custom styles.</p>
    </p>
  </article>

  <article class="column">
    <h3>The suggested layouts</h3>
    <p>There are 3 suggested layouts for the content area:</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1288 1856">
      <!-- Upper Left Box -->
      <rect x="0" y="0" width="440" height="220" fill="hsla(116, 41%, 52%, 0.44)" />
    
      <!-- Upper Right Box -->
      <rect x="456" y="0" width="440" height="220" fill="hsla(116, 41%, 52%, 0.44)" />
    
      <!-- Lower Left Box -->
      <rect x="0" y="236" width="272" height="220" fill="hsla(116, 41%, 52%, 0.44)" />
    
      <!-- Lower Right Box -->
      <rect x="288" y="236" width="712" height="220" fill="hsla(116, 41%, 52%, 0.44)" />

      <!-- Upper Left Box -->
      <rect x="0" y="470" width="440" height="220" fill="hsla(116, 41%, 52%, 0.44)" />

      <!-- Lower Right Box -->
      <rect x="456" y="470" width="272" height="220" fill="hsla(116, 41%, 52%, 0.44)" />

       <!-- Lower Right Box -->
       <rect x="744" y="470" width="272" height="220" fill="hsla(116, 41%, 52%, 0.44)" />
    </svg>
  </article>
</div>