---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="bookLayout">
    <!-- intro card -->
    <article class="Column small">
      <cyan-card elevation="1">
        <h4 slot="title">Buttons</h4>
        <cyan-icon slot="avatar" noun="d20" />
        <p class="TypeBody2">The humble button</p>
      </cyan-card>
    </article>

    <!-- Reactions -->
    <article class="Column small">
      <h2>Reactions</h2>
      <cyan-toolbar>
        <cn-reaction-button />
        <cn-reaction-button count="0" />
        <cn-reaction-button noun="download" count="713"/>
      </cyan-toolbar>
    </article>


    <!-- Core components -->
    <article class="Column">
      <h1>The Basics</h1>

      <p>Buttons are used to trigger actions. They are used to submit forms, open
        dialogs, cancel actions, or perform a delete action.</p>

      <p>They can be used as part of a navigation to a wizard, or modal page (with a back-button).
        Notably: search engines will not crawl to the pages linked with a button.
      </p>

      <h2>Examples</h2>
      <section class="fieldset">
      <cyan-toolbar>
        <p><cyan-code>{'<button>'}</cyan-code></p>
        <button>Plain</button>
        <button>
          noun+text
          <cyan-icon dark noun="d20" />
        </button>
        <button aria-label="d6">
          <cyan-icon dark noun="d6"/>
        </button>
      </cyan-toolbar>
      
      <cyan-toolbar>
        <p><cyan-code>.secondary</cyan-code></p>
        <button class="secondary">Plain</button>
        <button class="secondary">
          noun+text
          <cyan-icon noun="d20" dark/>
        </button>
        <button class="secondary" aria-label="d6">
          <cyan-icon noun="d6" dark/>
        </button>
      </cyan-toolbar>
        

      <cyan-toolbar>
        <p><cyan-code>.text</cyan-code></p>
        <button class="text">Plain</button>
        <button class="text">
          noun+text
          <cyan-icon noun="d20" />
        </button>
        <button class="text" aria-label="d6">
          <cyan-icon noun="d6"/>
        </button>
      </cyan-toolbar>
      </section>

      <h2>Icons in buttons</h2>
      <p>Buttons support <cyan-code>{'<cyan-icon [small]>'}</cyan-code> (default or small size). The recommended
        icon size for buttons with text is <cyan-code>small</cyan-code>.</p>

      <toolbar>
        <button>
          <cyan-icon noun="d20" />
        </button>
        <button>
          <cyan-icon noun="d20" small />
        </button>
        <button class="secondary">
          <cyan-icon noun="d20" small />
          Secondary
        </button>
      </toolbar>
    </article>
  </main>
</Layout>