---
import Layout from '../layouts/Layout.astro';
import CSSVar from '../components/CSSVar.astro';
---

<Layout title="Cyan Design System: CSS">
    <main class="bookLayout">
  <article class="Column small">
    <cyan-card elevation="1">
      <h3>CSS Variables</h3>
      <p>These are the core variables used in the component library.</p>
      <p>Please apply the class <cyan-code>.cyan</cyan-code> to body to apply the variables</p>
    </cyan-card>
  </article>
  <article class="Column small">
    <h4>Layout</h4>
    <CSSVar variableName="--cn-page-grid" />
    <CSSVar variableName="--cn-margin" />
    <CSSVar variableName="--cn-padding" />
    <CSSVar variableName="--cn-gap-row" />
    <CSSVar variableName="--cn-gap-column" />
    <CSSVar variableName="--cn-gap-toolbar" />
    <h4>Margins</h4>
    <p>Inspired by Tailwind and Vue MaterialUI:</p>
    <CSSVar variableName="m-0"> margin: 0; </CSSVar>
    <CSSVar variableName="mx-0"> margin-left: 0; margin-right:0</CSSVar>
    <CSSVar variableName="my-0"> margin-top: 0; margin-bottom:0</CSSVar>
  </article>
</main>
</Layout>