---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Inputs">
  <main class="bookLayout">
    <article class="Column">
      <cyan-icon noun="pbta" xlarge/>
    </article>
  </main>
</Layout>
    