---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cyan Design System">
  <main class="bookLayout">
	<article class="Column large">
	  <h1>Cyan</h1>
	  <p>This <a href="https://astro.build/">Astro</a> site acts as a kind of a Diary for the UX and UI design for the
		<strong>Cyan Design System</strong>.
		Additionally, it is a very convinient way to test and document usage of UX/UI practices, tooling, 
		components, and styles in the codebase.
	  </p>
	  <h2>Sources and examples</h2>
	  <div class="flex flex-no-wrap flex-align-start">
		<cyan-icon noun="github" size="large" />
		<div>
		  <h4 class="downscaled">Github</h4>
		  <p>The Design System itself is available at 
			<a href="https://github.com/11thdeg/cyan-elements">https://github.com/11thdeg/cyan-elements</a>
		  </p>
		</div>
	  </div>
	  <h2>Basic usage</h2>
	  <p>The design system is bundled as a library consisting of 2 parts. A JS package containing
		lit-html based web components and a CSS file containing the styles.</p>
	  <p>Where a native component is available, it is styled to match the custom components - and vice versa.</p>
	  <h3>Chroma colors</h3>
	  <p>We use a color palette called Chroma. All colors used in the Desing system originate from the CSS
		variables defined in the Chroma library, and are easily overridable with a set custom CSS variables.</p>
	  <p>Please see <a href="/color">/color</a> for more info on the Chroma palette.</p>
	</article>

	<!-- Sidebar -->
	<article class="Column small">
	  <h3>Installation</h3>
	  <p class="TypeBody2">Simplest way to install the Cyan Elements is to use unpkg href="https://github.com/11thdeg/cyan-elements">https://github.com/11thdeg/cyan</p>
      <pre class="code">{`<link rel="stylesheet" href="https://unpkg.com/@11thdeg/cyan@0.35.0/dist/style.css">
<script type="module" src="https://unpkg.com/@11thdeg/cyan@0.35.0/dist/cyan.js"></script>`}</pre>

	  <p class="TypeBody2">Alternatively you can just ask NPM to do it for you: 
		<a href="https://www.npmjs.com/package/@11thdeg/cyan">https://www.npmjs.com/package/@11thdeg/cyan</a>
	  </p>

	  <h4>Fonts</h4>
	  <pre class="code">{`<!-- Google fonts for Cyan-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
<!-- end Google fonts for Cyan -->`}</pre>
	</article>
  </main>
</Layout>

