---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="bookLayout">
	<article class="Column">
	  <h1>Cyan Elements Stylebook</h1>
	  <p>This <a href="https://astro.build/">Astro</a> site acts as a kind of a Diary for the UX and UI design for the
		<strong>Cyan Design System</strong>.
		Additionally, it is a very convinient way to test and document usage of UX/UI practices, tooling, 
		components, and styles in the codebase.
	  </p>
	  <h2>Sources and examples</h2>
	  <div class="flex flex-no-wrap flex-align-start">
		<cyan-icon noun="github" size="large" />
		<div>
		  <h4 class="downscaled">Github</h4>
		  <p>The Design System itself is available at 
			<a href="https://github.com/11thdeg/cyan-elements">https://github.com/11thdeg/cyan-elements</a>
		  </p>
		</div>
	  </div>
	</article>
  </main>
</Layout>

