---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="bookLayout">
    <!-- intro card -->
    <article class="Column small">
      <cyan-card elevation="1">
        <h4 slot="title">Layout</h4>
        <cyan-icon slot="avatar" noun="page" />
        <p class="TypeBody2">App layout components, helpers and classes.</p>
      </cyan-card>
    </article>
    <!-- Core components -->
    <article class="Column">
      <h2>Core concepts</h2>
      <ul>
        <li>
          <cyan-code>.AppLayout</cyan-code> - Class defines the main container for the app, used to make sure we 
          dont have any overflow issues, and that all app content dodges the navigation components.
        </li>
        <li>
          <cyan-code>{'<cyan-navigation-rail>'}</cyan-code>
        </li>
        <li>
            <cyan-code>{'<cyan-navigation-tray>'}</cyan-code>
        </li>
        <li>
            <cyan-code>{'<cyan-navigation-bar>'}</cyan-code>
        </li>
      </ul>
    </article>
  </main>
</Layout>