<article class="Column">
  <h3>Navigation Tray</h3>
  <p>A Material Design 3 inspired tray element. Modal on small screens.</p>
  
  <h4>Children</h4>

  <p>All slotted child elements are placed inside a nav-element. Please use
    <cyan-code>.downscaled</cyan-code> headers for the tray.
  </p>

</article>

<style>
.navTrayDemo {
  height: calc(272px * 2);
  width: 272px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 8px;
  background: var(--cyan-background-color-navigation-tray);
  border-radius: 0 24px 24px 0;
}
.navTrayDemo::-webkit-scrollbar {
  width: 8px;
  height: 3px; /* The height is only seen on horizontal scrolling */
}
.navTrayDemo::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
  width: 24px;
}
.navTrayDemo::-webkit-scrollbar-thumb {
  background: linear-gradient(hsla(var(--chroma-primary-i-hsl), 0) 0%, hsla(var(--chroma-primary-i-hsl), 0.5) 50%, hsla(var(--chroma-primary-i-hsl), 0) 100%);
}
</style>