<article class="Column">
  <h3>Filter panel</h3>
  <p class="downscaled">The <cyan-code>cn-filter-panel</cyan-code> element provides a scaffold for
    placing the filter elements. </p>
  <cn-filter-panel id="filter-panel" />
  <h4>Value of the panel is</h4>
  <div id="filter-panel-value-demo-sort" />
  <div id="filter-panel-value-demo-chips" />
</article>