<nav class="rail">
  <cn-tray-button noun="stylebook" onchange="document.querySelector('#tray').open = !document.querySelector('#tray').open"/>
  <a href="/">
    <cyan-navigation-button 
      noun="stylebook"
      label="intro"
    />
  </a>
  <a href="/layout">
    <cyan-navigation-button 
      noun="card"
      label="Layout"
    />
  </a>
  <a href="/typography">
    <cyan-navigation-button 
      noun="font"
      label="Types"
    />
  </a>
  <a href="/css">
    <cyan-navigation-button 
      noun="card"
      label="css"
    />
  </a>
  <a href="/color">
    <cyan-navigation-button 
      noun="edit"
      label="color"
    />
  </a>
  <cyan-spacer/>
  <cyan-navigation-button 
    noun="github"
    label="github" />
</nav>