<cyan-navigation-rail>
  <cn-tray-button noun="stylebook" onchange="document.querySelector('#tray').open = !document.querySelector('#tray').open"/>
  <a href="/">
    <cyan-navigation-button 
      noun="stylebook"
      label="intro"
    />
  </a>
  <a href="/layout">
    <cyan-navigation-button 
      noun="page"
      label="layout"
  />
  </a>
  <cyan-spacer/>
  <cyan-navigation-button 
    noun="github"
    label="github" />
</cyan-navigation-rail> 