<cyan-navigation-tray id="tray">
  <h2 class="downscaled">The Navigation Tray</h2>
  <a href="/css/preflight">
    <cyan-nav-button text noun="stylebook">CSS Preflight</cyan-nav-button>
  </a>
  <a href="/buttons">
    <cyan-nav-button text noun="mosters">Buttons</cyan-nav-button>
  </a>
  <a href="/dialog">
    <cyan-nav-button text noun="card">Dialog</cyan-nav-button>
  <a href="/inputs">
    <cyan-nav-button text noun="edit">Inputs</cyan-nav-button>
  </a>
</cyan-navigation-tray>