<cyan-navigation-tray id="tray">
  <h2 class="downscaled">The Navigation Tray</h2>

  <h4 class="downscaled">App</h4>

  <a href="/applayout">
    <cyan-nav-button
      active={Astro.url.pathname + '' === '/applayout'}
      noun="font">Layout</cyan-nav-button>
  </a>
  <a href="/layout/cn-app-bar">
    <cyan-nav-button
      active={Astro.url.pathname + '' === '/layout/cn-app-bar'}
      noun="font">App Bar</cyan-nav-button>
  </a>
  <a href="/layout/editor">
    <cyan-nav-button
      active={Astro.url.pathname + '' === '/layout/editor'}
      noun="edit">Editor Layout</cyan-nav-button>
  </a>
  <a href="/layout/cards">
    <cyan-nav-button
      active={Astro.url.pathname + '' === '/layout/cards'}
      noun="edit">Cards</cyan-nav-button>
  </a>

  <h4>Typography</h4>
  <a href="/typography/lists">
    <cyan-nav-button
      active={Astro.url.pathname + '' === '/typography/lists'}
      noun="font">Lists</cyan-nav-button>
  </a>

  <h4>Inputs</h4>
  <a href="/inputs">
    <cyan-nav-button text noun="edit">Inputs (Generic)</cyan-nav-button>
  </a>
  <a href="/inputs/text">
    <cyan-nav-button text noun="edit">Text[field]</cyan-nav-button>
  </a>
  <a href="/inputs/buttons">
    <cyan-nav-button text noun="mosters">Buttons</cyan-nav-button>
  </a>
  <a href="/inputs/reactions">
    <cyan-nav-button text noun="card">Reactions</cyan-nav-button>
  </a>
  <a href="/inputs/chips">
    <cyan-nav-button text noun="check">Chips</cyan-nav-button>
  </a>
  <a href="/inputs/radio">
    <cyan-nav-button text noun="check">Radio Buttons</cyan-nav-button>
  </a>
  <a href="/inputs/markdown">
    <cyan-nav-button text noun="check">Markdown editor</cyan-nav-button>
  </a>

  <h4 class="downscaled">Unsorter</h4>
  <a href="/css/preflight">
    <cyan-nav-button
      text
      noun="stylebook">CSS Preflight</cyan-nav-button>
  </a>
  <a href="/dialog">
    <cyan-nav-button text noun="card">Dialog</cyan-nav-button>
  </a>
  
  <a href="/typography/tables">
    <cyan-nav-button text noun="font">Type / Tables</cyan-nav-button>
  </a>
</cyan-navigation-tray>