<div class="container">
  <article class="wd-large auto column">
    <h2>nav.cn-tray</h2>
    <p>The navigation tray</p>
    <h3>Contents</h3>
    <p>Nav tray links should be styled with class <cyan-code>{'tray-button'}</cyan-code>, as described in the <a href="/inputs/buttons">/inputs/buttons</a> page.</p>
  </article> 
</div>