---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Cyan / Typography">
  <main class="bookLayout">
    <article class="large">
      <h1>Lists and Bullets</h1>
      <p>The basic styling for lists and bullets from the styleheets.</p>
      <h3>Unordered List</h3>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <ul>
            <li>Item 2.1</li>
            <li>Item 2.2</li>
            <li>Item 2.3</li>
        </ul>
        <li>Item 3</li>
      </ul>
      <ul class="downscaled">
        <li>Item 1</li>
        <li>Item 2</li>
        <ul>
            <li>Item 2.1</li>
            <li>Item 2.2</li>
            <li>Item 2.3</li>
        </ul>
        <li>Item 3</li>
      </ul>

        <h3>Ordered List</h3>
        <ol>
            <li>list item 1</li>
            <li>list item 2</li>
            <ol>
                <li>list item 2.1</li>
                <li>list item 2.2</li>
                <li>list item 2.3</li>
            </ol>
            <li>list item 3</li>
        </ol>
    </article>
  </main>
</Layout>
